/* .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #383838;
  } */
  
  .container {
    max-width: 920px;
    height: 10vh;
    margin: 0 auto;
    /* position: relative; */
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scaryText {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: red;
    font-size: 80px;
  } 
  .errorButton {
    font-weight: 500;
    font-size: 50px;
    border: 1px solid red;
    border-radius: 60px;
    padding: 6px 20px;
    background-color: black;
    width: 500px;
    height: 100px;
    color: red;
    flex-direction: row;
    align-items: center;
}
.error_errorButton__0S5WM {
    font-style: bold;
    font-weight: 500;
    font-size: 50px;
    /* line-height: 100px; */
    /* border: 1px solid #ffffff; */
    border-radius: 60px;
    padding: 6px 20px;
  }
  .btnText:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
  }
  .sidebarImg {
    height: auto;
    border-radius: 600px;
    width: 700px;
    background-color: black;
  }